.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.product-list .product {
  box-shadow: var(--shado-box);
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.product-list img {
  width: 100%;
  height: 250px;
}

.product .title {
  text-decoration: none;
  font-size: 1.5rem;
  color: #0fb2c7;
}

.product .details {
  padding: 1rem;
}

.product .title:hover {
  color: orangered;
}

.details p {
  display: inline-block;
  overflow: hidden;
  width: 18rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product .expired {
  background: #e85b5b;
  border-radius: 1.25em;
  padding: 0.4rem;
  color: #e8e0e0;
  position: absolute;
  top: -2%;
  right: -5%;
}

.product-details {
  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
}

.product-details > div {
  padding: 2rem;
}

.product-details .product img {
  width: 400px;
  height: 400px;
  padding: 2rem;
  box-shadow: var(--shado-box);
}

.product-details .product-info {
  box-shadow: var(--shado-box);
  position: relative;
}
.product-info h3 {
  padding: 1rem;
}

input {
  height: 2rem;
  border-radius: 0;
}

input[type="number"] {
  width: 200px;
}

.bids {
  width: 100%;
  box-shadow: var(--shado-box);
  overflow-y: auto;
}

.bid {
  position: absolute;
  padding: 2rem;
  bottom: 0%;
}

table {
  text-align: center;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.product-add form {
  width: 30rem;
  height: 40rem;
  overflow-y: auto;
  margin: auto;
  box-shadow: var(--shado-box);
  padding: 2rem;
  text-align: center;
}

label {
  display: block;
}

.product-add input {
  width: 20rem;
  height: 2rem;
  margin: 1rem;
}
img {
  object-fit: contain;
}
