:root {
  --primary-color: rgba(245, 92, 71, 0.82);
  --secondary-color: rgba(87, 82, 82, 0.17);
  --shado-box: 0 4px 8px 0 var(--primary-color);
}

* {
  font-family: "Comfortaa", cursive;
  margin: 0;
}

.nav {
  box-shadow: var(--shado-box);
  background-color: var(--primary-color);
  display: flex;
  height: 60px;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  color: #ffffff;
}

.nav li {
  display: inline-block;
}

.nav li a:hover {
  color: #17ec55;
}

body {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.78);
}

header {
  flex: 1;
}

main {
  flex: 5;
}

.shape {
  background: darkorange;
  height: 100%;
  width: 100%;
  z-index: -3;
  position: absolute;
  clip-path: polygon(100% 0, 74% 56%, 100% 100%);
  top: 5%;
}

footer {
  border-radius: 1em;
  padding: 1rem;
  display: block;
  box-shadow: var(--shado-box);
  margin: 20px;
  color: rgba(255, 255, 255, 0.83);
  display: flex;
  flex-direction: row;
  min-height: 200px;
  background-color: var(--primary-color);
}

footer .my-links {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-right: 4px solid rgba(250, 250, 250, 0.56);
}
footer .project-info {
  flex: 2;
  padding: 2rem;
}
footer .last {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .last a {
  color: rgba(255, 255, 255, 0.83);
  text-decoration: none;
}
